@mixin positions {
  display: flex;
  align-items: center;
}

.card {
  @include positions;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin: 2rem 0rem;
  .image {
    border-radius: 13px;
    max-height: 420px;
    width: 100%;
    object-fit: cover;
  }
  .info {
    @include positions;
    justify-content: space-between;
    gap: 2rem;
    margin: 0.5rem 0rem;
    p {
      padding-top: 10px;
      color: var(--textColor);
      font-size: 1.2rem;
    }
    .icons {
      @include positions;
      justify-content: flex-end;
      gap: 1rem;
      i {
        font-size: 1.4rem;
      }
      .not_liked {
        color: #a4b7e3;
        cursor: pointer;
      }
      .liked {
        color: #fe577a;
        cursor: pointer;
      }
    }
  }
}
