.wrapper {
  padding: 1rem;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    h3 {
      color: var(--textColor);
      font-size: 2rem;
      font-weight: 500;
    }
    .filters{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        .btns{
            border: none !important;
            background: transparent !important;
            &:hover p{
                color: #AA74FC !important;
            }
            p{
                font-size: 1.2rem;
                font-weight: 500;
                color: #C0C9E9;
                transition: all .2s ease-in;
               
            }
            .active{
                color: #AA74FC !important;
            }
        }
    }
  }
}
